<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask REST API</title>
</head>
<body>
    <h1>
        People
    </h1>
    <table>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.lastname }}</td>
            <td>{{ person.firstname }}</td>
            <td>{{ person.timestamp }}</td>
        </tr>
        <tr>
            <td colspan="4">
                <ul>
                    {% for note in person.notes %}
                    <li>{{ note.timestamp }} {{ note.content }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
